<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
<meta name="keywords" content="GNUMP3d Media Streamer, GNUMP3d, stream">
<meta name="description" content="GNUMP3d Media Streamer - BlueBox Theme">
<title>GNUmp3d Media Streamer</title>
<link rel="stylesheet" href="/BlueBox.css" type="text/css" />
</head>

<body>
<table class="framework">
<tr>
<td class="left-panel">

<div id="static">
<div id="title-panel">
<a href="http://www.gnump3d.org/">GNUMP3d</a>
</div>


<div class="panel-title"> Menu </div>
<div class="menu-panel">
	<a href="/">Music</a> <br />
	<a href="/tagbrowse">Browse by Tag</a> <br />
	<a href="/playlist/">Custom Playlist</a> <br />
	<a href="/random">Random Selection</a> <br />
	<a href="/random/directory">Random Directory</a> <br />
	<a href="/prefs/">Preferences</a> <br />
	<a href="/search/">Search</a> <br />
	<a href="/statistics.html">Statistics</a> <br />
	<a href="/extras.html">Extras</a> <br />
</div>

<div class="panel-title"> Search </div>
<div class="menu-panel">
	<form class="search" action="/search" method="get">
	<input type="hidden" name="type" value="Any" />
	<input class="text" type="text" name="q" />
	<input class="button" type="submit" value=">>" />
	</form>
</div>

</div>
</td>
<td class="right-panel">
<div id="content-panel">

