<!-- include="header.tmpl" -->

<table class="items">
<tr><td colspan="2" class="item-head">Most Popular Songs</td></tr>
$MOST_POPULAR_SONGS
</table>

<table class="items">
<tr><td colspan="2" class="item-head">Most Popular Directories</td></tr>
$MOST_POPULAR_DIRS
</table>

<table class="items">
<tr><td colspan="2" class="item-head">Most Active Clients</td></tr>
$MOST_ACTIVE_CLIENTS
</table>

<table class="items">
<tr><td colspan="2" class="item-head">Most Popular User Agents</td></tr>
$MOST_POPULAR_USER_AGENTS
</table>

<!-- include="footer.tmpl" -->
