<!-- include="header.tmpl" -->

<table class="items">
<tr><td class="item-head"> Statistics </td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td><a class="bar" href="/stats/">View the most popular songs, directories, and users</a></td></tr>
<tr><td><a class="bar" href="/recent/">View the most recent tracks served</a></td></tr>
<tr><td><a class="bar"href="/now/">See what is currently playing</a></td></tr>
<tr><td><a class="bar"href="/size/">See the size of the archive available</a></td></tr>
<tr><td>&nbsp;</td></tr>
</table>

<!-- include="footer.tmpl" -->
