<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en">
  <head>
$META
    $HEADER
    <style type="text/css"> @import url("/Nomad_theme.css");</style>
    <title>GNUMP3d [ Browse Archive by Tag ]</title>
  </head>
  <body>
<!-- include="gnump3d_themes_header.tmpl" -->
  <table width="100%" border="0" cellpadding="0">
    <tr>
      <td valign="top" width="35px">
	<img src="/GNUMP3dLogo.jpg">
      </td>
      <td valign="top">
        <form action="/search" method="get">
          <table class="dashed" width="100%" border="0" cellpadding="2">
            <tr>
              <td align="left" width="50%" valign="top">
                <br>
                <strong>Music Search :</strong>
                <input type="text" name="q">
              </td>
              <td valign="top">
                <a class="top" href="/" title="Go to the root of the music archive.">Home</a>
                <br>
		<a class="top" href="/size" title="See the size of your archive">Archive Size</a>
		<br>
		<a class="top" href="/tagbrowse" title="Browse archive by genre">Browse by Genre</a>
		<br> 
                <a class="top" href="/playlist/" title="Selectively stream different directories.">Custom Playlists</a>
                <br>
		<a class="top" href="/now/" title="See which tracks are currently playing">Currently Playing</a>
		<br>
              </td>
              <td valign="top">
                <a class="top" href="/stats/" title="See the most popular songs on this server.">Most Popular</a>
                <br>
                <a class="top" href="/recent/" title="See the most recent tracks played">Most Recent</a>
                <br>
                <a class="top" href="/search/" title="Search the archive for music">Search</a>
                <br>
		<a class="top" href="/random/" title="Listen To Random Music">Random Music</a>
		<br>
                <a class="top" href="/prefs/" title="Change your prefernces">Preferences</a>
                <br>
              </td>
            </tr>
          </table>
        </form>
        <p class="dashed">
	    $BANNER
	  </p>

    <fieldset>
      <legend align="left">
	$TITLE
      </legend>

      <table border="0" cellpadding="2" cellspacing="0" width="100%">	
	<tr>
	  <td>
	    $RESULTS
	  </td>
	</tr>
      </table>
    </fieldset>
    
  </td>
    </tr>
  </table>
</html>
<!--
Local Variables: ***
mode: html ***
End: ***
-->
