
<table width="100%" border='0' cellspacing='0' cellpadding='2'>
<tr style='background-color:#467CC2;'><td width='1%'><img src='/gnump3d-logo.jpg' border='0' width='150' height='33' align='left' alt='' /></td>
<td align='right' width='99%'><div style='font-size:0.75em;'>GNUMP3d v$RELEASE&nbsp;<br>$HOSTNAME</div><td></tr>
<tr><td width="150" valign='top'>


<div class="menubanner">Search</div>
<div class="menu">
<form action="/search" method="get">
<input type="text" name="q" style="width:140px; background-color:#ddd;" /><br />
<input type="hidden" name="type" value="all"/>
<a title="Search The Archive" href="/search" style="font-size:0.8em;">Advanced search</a>
</form>
</div>


<div class="menubanner">Navigation</div>
<div class="menu">
<a href="/" title="Go back to the top level">Home</a><br />
<a title="Display some random tracks" href="/random">Random Selection</a><br />
<a title="Visit a random directory" href="/random/directory">Random Directory</a><br />
<a title="Browse by artist, year, etc" href="/tagbrowse">Browse by Category</a><br />
<a title="Create a custom playlist" href="/playlist">Custom Playlist</a><br />
<a title="Change your preferences" href="/prefs">Preferences</a><br />
</div>


<div class="menubanner">Stats</div>
<div class="menu">
<a title="See What Is Currently Being Served" href="/now">Currently Playing</a><br />
<a href="/stats" title="View statistics">Archive Statistics</a><br />
<a href="/recent" title="Most recent tracks served">Recent</a><br />
<a href="/size" title="View size of the archive">Size</a>
</div>

<div class="menubanner">Quick Links</div>
<div class="menu">
<a href="http://www.gnump3d.org/" title="Visit the homepage for this application">gnump3d.org</a><br />
<a href="http://www.gnump3d.org/documents.html">Documentation</a><br />
<a href="http://www.gnump3d.org/FAQ.html" title="Got question? See the faq">FAQ</a><br />
<a href="/COPYING" title="Copying conditions">License</a><br />
</div>



</td>
<td valign='top'>


