.page_subtitle {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #555555; text-decoration:none}
.returnlink {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #555555}
.form_text {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #FFFFFF; text-decoration:none}
.page_title {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000; text-decoration:none}
.smallprint {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #EEEEEE}
.bgform { background-color: #555555; }
.bgformL2 { background-color: #DDDDDD; }

.bgmain { background-color: #000000;  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #555555; text-decoration:none}


