<!-- "Nausicaa" template for GNUMP3d -->
<!-- Created by Lawrence Lin (llin@noderunner.net) -->
<!-- Version 1.2 (14 February 2003) -->
<!-- Heavily based upon the Nausicaa.net color scheme -->

<html>
<head>
$META
	<title>GNUMP3d [ Extra Links ]</title>
	<link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>

<table width="80%" align="center" border="0" cellpadding="2" bgcolor="#103060">
	<tr>
		<td align="center" colspan="7">
			<form action="/search" method="GET">
			<span class="header">:: <A HREF="http://www.gnump3d.org/">GNUMP3d</a> Server v$RELEASE on <i>$HOSTNAME</i> ::
  			<br>:: Music Search ::</span> <input TYPE="text" NAME="q" />
			</form>
		</td>
	</tr>
	<tr align="center" class="qlinks">
		<td width="15%"><A HREF="/" title="Go to the root of the music archive">Home</A></td>
		<td width="14%"><a href="/playlist/" title="Create a custom playlist">Custom Playlists</a></td>
		<td width="14%"><a href="/prefs/" title="Change your preferences">Preferences</a></td>
		<td width="14%"><A HREF="/stats/" title="See the most popular songs on this server">Most Popular</A></td>
		<td width="14%"><A HREF="/recent/" title="See the last 20 tracks played">Most Recent</A></td>
		<td width="14%"><A HREF="/search/" title="Search the repository for music">Search</A></td>
		<td width="14%"><a href="/extras.html" title="Extra links">Extras</a></td>
		<td width="15%"><A HREF="http://www.gnump3d.org/" title="Visit the official home of GNUMP3d">GNUMP3d Home</A></td>
	</tr>
</table>

<table width="100%" border="0">
<tr>

<td valign="TOP">

<p>&nbsp;</p>

<div align="center"><h3>Extra Information</h3></div>

<p>&nbsp;This server is running v3.0 of GNUMP3d the open source MP3/Ogg/Movie streaming server - distributed under the terms of the <a href="/COPYING">GNU General Public License</a>.</p>
<p>&nbsp;This server was primarily written by <a href="http://www.steve.org.uk/">Steve Kemp</a>, and improved thanks to suggestions from users and contributions of code, theme designs, and logos - Many more details can be found upon the project homepage at <a href="http://www.gnump3d.org/">http://www.gnump3d.org/</a>.</p>
<p>&nbsp;If you require any assistence in running the software, have any customization requests, or ideas for features then please consider the following links as starting points:</p>
<ul>
<li><a href="http://www.gnump3d.org/FAQ.html" title="Online FAQ">Frequently Asked Questions</a> - and answers.</li>
<li><a href="http://www.gnump3d.org/lists.html" title="Mailing List Index">Mailing Lists</a> are a good source of help.</li>
<li><a href="http://www.steve.org.uk/contact/" title="Means of contacting the author">The Author</a> answered as free time permits.</li>
</ul>
<p>&nbsp;If you believe you have discovered a bug please take the time to report them so that all users might benefit.  Similarly if you have discovered what you believe is a <a href="http://www.gnump3d.org/security.html#Security">security issue</a> please report it responsibly; full credit would be given upon the website for any such issues raised.</p>
<p>&nbsp;Feedback is always appreciated via mail to one of the mailing lists, or the author directly.  If you are a <a href="http://freshmeat.net/">Freshmeat</a> user you may <a href="http://freshmeat.net/rate/20517/">rate the software</a> there.</p>

</td>
</tr>
</table>


</body>
</html>
