<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head>
    <link rel="shortcut icon" href="http://www.herot.com/favicon.ico" type="image/x-icon" />
    <link rel="StyleSheet" href="/main.css" text="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width = 320" />
    <title>GNUMP3d [ $Error ]</title>
  </head>
  <body>
  <h2>
  <table style="width: 100%;">
    <tr>
      <td valign="top">

        <p>
          $BANNER	  
        </p>

        <fieldset>
          <legend align="left">
            ERROR
          </legend>
          <table style="width: 100%;">	  
            $ERROR_MESSAGE
          </table>
        </fieldset>	

      </td>
    </tr>
  </table>
</html>
<!--
Local Variables: ***
mode: html ***
End: ***
-->
