<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
$META
 <title>GNUMP3d [ $HOSTNAME : $DIRECTORY ]</title>
 <link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body bgcolor="white">

<center>
 <form action="/search" method="get">
 <table width="80%" bgcolor="silver" border="0" cellpadding="2" summary="quick search">
  <tr><td align="center">
  <strong>::<a href="http://www.gnump3d.org">GNUMP3d</a> server on $HOSTNAME::  </strong>
  </td></tr>
  <tr><td align="center">
  <strong>::Music Search::</strong>
    <input type="text" name="q" />
  </td>
  </tr>
 </table>
 </form>
</center>

<table width="100%" border="0" summary="">
<tr>
<td valign="top" width="200">
<p>&nbsp;</p>
<p><b>Quick Links</b></p>
<ul>
<li><a href="/" title="Go to the root of the music archive.">Home</a></li>
<li><a href="/size/" title="See the archive size">Archive Size</a></li>
<li><a href="/tagbrowse/" title="Browse by artist, year, etc.">Browse by Category</a></li>
<li><a href="/now/" title="See which songs are currently being served.">Currently Playing</a></li>
<li><a href="/playlist/" title="Selectively stream different directories.">Custom Playlists</a></li>
<li><a href="/stats/" title="See the most popular songs on this server.">Most Popular</a></li>
<li><a href="/recent/" title="See the last 20 tracks played">Most Recent</a></li>
<li><a href="/prefs/" title="Change your preferences.">Preferences</a></li>
<li><a href="/random/" title="Listen to some random music">Random Selection</a>
<ul>
<li><a href="/random/directory" title="View a random directory">Directory</a></li>
</ul></li>
<li><a href="/search/" title="Search the archive for music">Search</a></li>
</ul>

</td>
<td valign="top">
