<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head>
    $META
    <title>GNUMP3d [ $HOSTNAME : $DIRECTORY ]</title>
  </head>
  <body>
  <script language="JavaScript"><!--
  var keyStroke;

// -->
</script>
  <h2>
  <table width="100%" border="0" cellpadding="0">
    <tr>
      <td valign="top">
        <form action="/search" method="get">
	<input type="hidden" name="type" value="all">
          <table class="dashed" width="100%" border="0" cellpadding="2">
            <tr>
              <td align="left" width="50%" valign="top">
                <input type="text" name="q" size="28">&nbsp;
		<input type="submit" value="Search">
              </td>
            </tr>
          </table>
        </form>
        <p class="dashed">
	    $BANNER &nbsp; <a class="top" href="/random/" title="Listen To Random Music">Random</a>
	  </p>

    <PLAYLISTS>
      <fieldset>
	<legend align="left">
	  Playlists
	</legend>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	  
	  $PLAYLISTS
	</table>
      </fieldset>	
    </PLAYLISTS>

    <p></p>
        
    <DIRS>
      <fieldset>
	<legend align="left">
	  Subdirectories : $DIRECTORY
	</legend>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	  
	  $DIRECTORIES
	</table>
      </fieldset>
    <p></p>
    </DIRS>
    
    
    <FILES>
      <fieldset>
	<legend align="left">
	  Songs in $DIRECTORY
	</legend>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	  $SONGS
	</table>
      </fieldset>
    <p></p>

    </FILES>

  </td>
    </tr>
  </table>
</html>
<!--
Local Variables: ***
mode: html ***
End: ***
-->
