body {
  font-family: arial, sans-serif; 
  color: green; 
  background-color: lightgray;
  min-width: 320px;
  margin: 0px;
  padding: 0px;
}

td { font-size: 14px; }
td.title {color: gray; font-weight:bold; height:30px;}
td.item_name { padding-top: 5px; padding-bottom: 5px; }
td.play_button { padding: 5px 7px 5px 0px; width: 30px; }
td.download_button { padding: 5px 7px 5px 0px; width: 3px; }

table.dashed { border: 1px dashed }

:link { color : #222; }
:visited { color: black; }

a { text-decoration: none; font-size: 14px;}

a.top {color: #808; font-weight: bold; }

a.dir:visited {color: #A0c0; font-weight: bold; }
a.dir:link {color: #A0c0; font-weight: bold; }

a.info {color: black; }
a.gnump3d {color: #939393; ; font-weight: bold; }

legend {font-weight: bold; }
