<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en">
  <head>
    $META
    $HEADER
    <title>GNUMP3d [ Random ]</title>
  </head>

  <table width="100%" border="0" cellpadding="0">
      <tr>
       <td valign="top">
             $BANNER
		</p>
		<br>

    <fieldset>
      <legend align="left">
	Listen To Random Music
      </legend>

      <table border="0" cellpadding="2" cellspacing="0" width="100%">	
	<tr>
	  <td>
	    $TEXT
	  </td>
	</tr>
      </table>
    </fieldset>
    
  </td>
    </tr>
  </table>
</html>
<!--
Local Variables: ***
mode: html ***
End: ***
-->
