<!-- REITER list-->
<table border="0" cellpadding="0" cellspacing="0" hight="19">
  <tr>
    <TD class="reitertext" noWrap height="19">
	    <IMG height="1" alt="" src="/images/transparent.gif" width="7">
	    	<B>Playlist</B><IMG height=1 alt="" src="/images/transparent.gif" width="24"></TD>
	<TD class=schattenrechts vAlign=top align=left width=68 height=19>
        <IMG src="/images/eckeor.gif" border=0 width="6" height="6"></TD>
  </tr>
</table>
<!-- Reiter ENDE -->

<!-- INHALTE list -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class="linkbox" width="100%" align="center">	<p>&nbsp;</p>
    <!-- Gnump -->
    <DIRS>
		<table border="0" cellpadding="2" cellspacing="0" width="90%" >
			<tr>
				<td class="linkbox" colspan="7"><p class="largetext">
                <b>-= Subdirectories : $DIRECTORY =-</b></P></td>
			</tr>
		<p class="linktext"> $DIRECTORIES</P>
		</table>
	</DIRS>
<hr color="#808080" width="100%">
	<FILES>
		<table border="0" cellpadding="2" cellspacing="0" width="90%" >
			<tr>
				<td class="linkbox" colspan="7"><p class="largetext">
                <b>-= SONGS =-</b></P></td>                
			</tr>
		<p class="linktext"> $SONGS	</P>
		</table>
		<p align="center" class="linktext"><a href="recurse.m3u">Play All</a></div>

	</FILES>
	<PLAYLISTS>
		<table border="0" cellpadding="2" cellspacing="0" width="90%" >
			<tr>
				<td colspan="3" class="linkbox" ><p class="largetext"> <b>-= Playlists =-</b></p></td>
			</tr>
		  <p class="linktext"> $PLAYLISTS</P>
		</table>
	</PLAYLISTS>
<hr color="#808080" width="100%">
	<p>&nbsp;</p>
	<MOVIES>
		<table border="0" cellpadding="2" cellspacing="0" width="90%" >
			<tr><td class="linkbox" colspan="3" ><p class="largetext">
              <b>-= Movies =-</b></p></td></tr>
			$MOVIES
		</table>
		<p>&nbsp;</p>
	</MOVIES>
<!-- gnump end --></td>

    <TD class=schattenrechts valign="top" align="left" width="1"><IMG src="/images/eckeor.gif" border="0" width="6" height="6"></TD>
  </tr>
  <tr>
    <TD class=schattenunten valign="top" align="left" width="6"><IMG src="/images/eckeul.gif" border="0" width="6" height="6"></TD>
    <TD class=schattenrechts width="6"><p align="left" valign="top"><IMG src="/images/eckeur.gif" border="0" width="6" height="6"></p></TD>
  </tr>
</table>
<!-- INHALTE ENDE -->
</body>
</html>