<!-- ".NET" template for GNUMP3d -->
<!-- Created by MarquiS (marquis-@gmx.net) -->
<!-- (26.05.2003) -->
<!-- Heavily based upon the M$ .net color scheme :) -->

<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml11-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
$META
<LINK REL="stylesheet" TYPE="text/css" HREF="/style.css" >
 <title>GNUMP3d [ $HOSTNAME : $DIRECTORY ]</title>

</head>

<body>

<!-- REITER header -->
<table cellpadding="0" cellspacing="0" hight="19">
  <tr>
    <TD class="reitertext" noWrap height=19>
	    <IMG height=1 alt="" src="/images/transparent.gif" width=7>
	    	<B>GNUMP3d v$RELEASE</B><IMG height=1 alt="" src="/images/transparent.gif" width=24></TD>
	<TD class=schattenrechts vAlign=top align=left width=68 height=19>
        <IMG src="/images/eckeor.gif" border=0 width="6" height="6"></TD>
  </tr>
</table>
<!-- Reiter ENDE -->
<!-- INHALTE header -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="99">
  <tr>
    <td class="linkbox" width="561" height="19" >   &nbsp; </td>
    <td class="linkbox" width="280" height="19" >   &nbsp; </td>
    <td class="linkbox" width="282" height="19" >   &nbsp; </td>
    <TD class="schattenrechts" valign="top" align="left" rowspan="2" width="6" height="38">    <IMG src="/images/eckeor.gif" border="0" width="6" height="6"></TD>
  </tr>

  <tr>
    <td class="linkbox" width="561" height="19"   >
    <p class="largetext" align="left"><B>GNUMP3d on <i><font color="#0000FF">$HOSTNAME
    </font></i> </B></td>
    <td class="linkbox" width="280" height="19" >   &nbsp; </td>
    <td class="linkbox" align="center" valign="bottom" width="282" height="19"  >&nbsp;</td>
  </tr>

  <tr>
    <td class="linkbox" width="561" rowspan="3" height="53">
    	<p align="left">
    	<a class="text" href="/" title="Go to the root of the music archive.">Home</a><br>
    	<a class="text" href="http://www.gnump3d.org/FAQ.html" title="Gnump3d FAQ">GNUMP3d FAQ</a><br>
	</td>
    <td class="linkbox" width="280" height="53" rowspan="3" >
    	<p align="left">
	<a class="text" href="/playlist/" title="Selectively stream different directories.">Custom Playlists</a><br>
	<a class="text" href="/now/" title="See which songs are currently streaming">Currently Playing</a><br>
    	<a class="text" href="/recent/" title="See the most recent tracks played">Most Recent</a><br>
	<a class="text" href="/prefs/" title="Change your preferences">Preferences</a><br>
    	<a class="text" href="/random/" title="Random Selection of Tracks">Random Music</a><br>
	<a class="text" href="/search/" title="Search the archive for music">Search</a><br>
	<a class="text" href="/stats/" title="See the most popular songs on this server.">Statistics</a><br>
		&nbsp;
	</td>

    <td class="linkbox" align="left" valign="bottom"> <p class="textklein" align="left"> Design by MarquiS</p></td>
    <TD class=schattenrechts valign="top" align="left" rowspan="3" width="6" height="53">		&nbsp;</TD>
  </tr>
  <tr>
    <td class="linkbox" align="right" valign="top" height="1">    
    <p align="center">    <a href="http://www.gnump3d.org" target="_blank"><IMG src="/images/logo7.jpg" border="3"></a></td>
  </tr>
  <tr>
	<td class="linkbox" align="right" valign="top" width="282" height="30"><p class="textklein">
    Version&nbsp;v3.0</p></td>
  </tr>

  <tr>
    <TD class=schattenunten vAlign=top align=left width=""6" colspan="3" height="6"><IMG src="/images/eckeul.gif" border=0 width="6" height="6"></TD>
    <TD class=schattenrechts width="6"><P align=left valign="top"><IMG src="/images/eckeur.gif" border="0" width="6" height="6"></P></TD>
  </tr>
</table>
<!-- INHALTE ENDE -->
<br>
