<!-- include="header.tmpl" -->

<!-- Banner -->
<p>&nbsp;</p>

<p align="center">
$BANNER
</p>

<PLAYLISTS>
<table border="0" cellpadding="0" cellspacing="2" width="100%" bgcolor="#FF0000">
<tr><td>
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#eaecef">
<tr bgcolor="#d1d5d7"><td colspan="3"><center><h3>Playlists</h3></center></td></tr>
$PLAYLISTS
</table>
</td></tr>
</table>
<p>&nbsp;</p>
</PLAYLISTS>


<DIRS>
<table border="0" cellpadding="0" cellspacing="2" width="100%" bgcolor="#FF0000">
<tr><td>
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#eaecef">
<tr bgcolor="#d1d5d7"><td colspan="7"><center><h3>Subdirectories</h3></center></td></tr>
$DIRECTORIES
</table>
</td></tr>
</table>
<p>&nbsp;</p>
</DIRS>

<FILES>
<table border="0" cellpadding="0" cellspacing="2" width="100%" bgcolor="#FF0000">
<tr><td>
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#eaecef">
<tr bgcolor="#d1d5d7"><td colspan="3"><center><h3>Songs</h3></center></td></tr>
$SONGS
</table>
</td></tr>
</table>
<p>&nbsp;</p>
</FILES>

<MOVIES>
<table border="0" cellpadding="0" cellspacing="2" width="100%" bgcolor="#FF0000">
<tr><td>
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#eaecef">
<tr bgcolor="#d1d5d7"><td colspan="3"><center><h3>Movies</h3></center></td></tr>
$MOVIES
</table>
</td></tr>
</table>
<p>&nbsp;</p>
</MOVIES>

<p align="center">
$BANNER
</p>

<!-- include="footer.tmpl" -->