
<!-- include="header.tmpl" -->

<td class=mainTabOn0 align=center><a tabindex=-1 href=/>music</a></td>
<td class=mainTabOff align=center><a tabindex=-1 href=/tagbrowse>tagbrowse</a></td>
<td class=mainTabOff align=center><a tabindex=-1 href=/playlist>playlist</a></td>
<td class=mainTabOff align=center><a tabindex=-1 href=/random>random</a></td>
<td class=mainTabOff align=center><a tabindex=-1 href=/prefs>prefs</a></td>
<td class=mainTabOff align=center><a tabindex=-1 href=/search>search</a></td>
<td class=mainTabOff align=center><a tabindex=-1 href=/stats>stats</a></td>

</tr></table>
<table border=0 cellpadding=0 cellspacing=0 width=100% height=21><tr>
<td class=subTabOff0>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

<td class=subTabOff0><table align=center border=0 cellpadding=0 cellspacing=0 height=21><tr>
<td class=subTabOff0><a href="/random/directory">Random directory</a></td>
</tr></table></td>
<td class=subTabOff0>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr></table>
</td></tr>
</tr>
<br>


<PLAYLISTS>
<center>
<table border=0 align=center cellspacing=0 cellpadding=4 class=boxedBox width=95%>
<tr>
	<td class=boxedHead>Playlists</td>
</tr>
<tr>
	<td class=boxedMessage>
		<p align="center">$BANNER</p>
		<table border=0 cellpadding=0 cellspacing=0 class=listingTable>
		<tr>
			<td class=topRow nowrap>&nbsp;&nbsp;&nbsp;Name</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>&nbsp;</td>
		</tr>
		$PLAYLISTS
		</table>
	</td>
</tr>
</table>
</center>
<p>&nbsp;</p>
</PLAYLISTS>



<DIRS>
<center>
<table border=0 align=center cellspacing=0 cellpadding=4 class=boxedBox width=95%>
<tr>
	<td class=boxedHead>Subdirectories</td>
</tr>
<tr>
	<td class=boxedMessage>
		<p align="center">$BANNER</p>
		<table border=0 cellpadding=0 cellspacing=0 class=listingTable>
		<tr>
			<td class=topRow nowrap>&nbsp;&nbsp;&nbsp;Name</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>Songs</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>Directories</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>&nbsp;</td>
		</tr>
		$DIRECTORIES
		</table>
	</td>
</tr>
</table>
</center>
<p>&nbsp;</p>
</DIRS>



<FILES>
<center>
<table border=0 align=center cellspacing=0 cellpadding=4 class=boxedBox width=95%>
<tr>
	<td class=boxedHead>Songs</td>
</tr>
<tr>
	<td class=boxedMessage>
		<p align="center">$BANNER</p>
		<table border=0 cellpadding=0 cellspacing=0 class=listingTable>
		<tr>
			<td class=topRow nowrap>&nbsp;&nbsp;&nbsp;Name</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>Songs</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>Directories</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>&nbsp;</td>
		</tr>
		$SONGS
		</table>
	</td>
</tr>
</table>
</center>
<p>&nbsp;</p>
</FILES>


<MOVIES>
<center>
<table border=0 align=center cellspacing=0 cellpadding=4 class=boxedBox width=95%>
<tr>
	<td class=boxedHead>Movies</td>
</tr>
<tr>
	<td class=boxedMessage>
		<p align="center">$BANNER</p>
		<table border=0 cellpadding=0 cellspacing=0 class=listingTable>
		<tr>
			<td class=topRow nowrap>&nbsp;&nbsp;&nbsp;Name</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>&nbsp;</td>
			<td class=topRow nowrap>&nbsp;</td>
		</tr>
		$MOVIES
		</table>
	</td>
</tr>
</table>
</center>
<p>&nbsp;</p>
</MOVIES>


<!-- include="footer.tmpl" -->