<!-- include="header.tmpl" -->

<td class=mainTabOff align=center><a tabindex=-1 href=/>music</a></td>
<td class=mainTabOff align=center><a tabindex=-1 href=/tagbrowse>tagbrowse</a></td>
<td class=mainTabOff align=center><a tabindex=-1 href=/playlist>playlist</a></td>
<td class=mainTabOff align=center><a tabindex=-1 href=/random>random</a></td>
<td class=mainTabOn4 align=center><a tabindex=-1 href=/prefs>prefs</a></td>
<td class=mainTabOff align=center><a tabindex=-1 href=/search>search</a></td>
<td class=mainTabOff align=center><a tabindex=-1 href=/stats>stats</a></td>

</tr></table>
<table border=0 cellpadding=0 cellspacing=0 width=100% height=21><tr>
<td class=subTabOff4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

<td class=subTabOff4><table align=center border=0 cellpadding=0 cellspacing=0 height=21><tr><td></td>
</tr></table></td>
<td class=subTabOff4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr></table>
</td></tr>
</tr>
<br>

<center>
<table border=0 align=center cellspacing=0 cellpadding=4 class=boxedBox>
<tr>
	<td class=boxedHead>Preferences</td>
</tr>
<tr>
	<td class=boxedMessage>
		<p align="center">$BANNER</p>
		$TEXT
	</td>
</tr>
</table>
</center>
<p>&nbsp;</p>
<!-- include="footer.tmpl" -->

