<!-- header -->
 <form action="/search" method="get">
 <table width="100%" bgcolor="silver" border="0" cellpadding="2">
  <tr><td align="left" width="50%" valign="top">
  <a class="top" href="http://www.gnump3d.org">GNUMP3d</a> server on $HOSTNAME
  <p>  
  <strong>Music Search :</strong>
    <input type="text" name="q" />
  </td>
  <td valign="top">
<a class="top" href="/" title="Go to the root of the music archive.">Home</a><br>
<a class="top" href="/size" title="See the size of your music archive.">Archive Size</a><br>
<a class="top" href="/tagbrowse" title="Browse by artist, year, etc">Browse by Tag</a><br>
<a class="top" href="/playlist/" title="Selectively stream different directories.">Custom Playlists</a><br>
<a class="top" href="/now/" title="See which tracks are currently being served">Currently Playing</a><br>
  </td>
  <td valign="top">
<a class="top" href="/stats/" title="See the most popular songs on this server.">Most Popular</a><br>
<a class="top" href="/recent/" title="See the most recent tracks played">Most Recent</a><br>
<a class="top" href="/prefs/" title="Change your preferences">Preferences</a><br>
<a class="top" href="/random/" title="Listen to random music.">Random Playlists</a><br>
<a class="top" href="/search/" title="Search the archive for music">Search</a><br>
  </td>
  </tr>
 </table>
 </form>
