<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml11-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
$META
 <title>GNUMP3d [ $HOSTNAME : $DIRECTORY ]</title>
 <style type="text/css">
   body {font-family: arial, sans-serif; color: black; background-color: gray;}
   td.title {color: gray; font-weight:bold; height:30px}

   :link { color : #808;  }
   :visited { color: #800; text-decoration: none; }

   a.top:visited {color: #800; font-weight: bold; text-decoration: none; }
   a.top:link {color: #A00; font-weight: bold; text-decoration: none; }
  </style>
</head>

<body>

<!-- include="header.tmpl" -->
<!-- Banner -->

<p class="dashed" align="center">
$BANNER
</p>

<PLAYLISTS>
<table border="0" cellpadding="2" cellspacing="0" width="100%" bgcolor="#eaecef">
<tr><td colspan="3" class="title">Playlists</td></tr>
$PLAYLISTS
</table>
<p>&nbsp;</p>
</PLAYLISTS>

<DIRS>
<table border="0" cellpadding="2" cellspacing="0" width="100%" bgcolor="#eaecef">
<tr>
<td class="title" colspan="7">Subdirectories : $DIRECTORY</td>
</tr>
$DIRECTORIES
</table>
<p>&nbsp;</p>
</DIRS>

<FILES>
<table border="0" cellpadding="2" cellspacing="0" width="100%" bgcolor="#eaecef">
<tr><td class="title" colspan="3">Songs</td></tr>
$SONGS
</table>
<p>&nbsp;</p>
</FILES>

<MOVIES>
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#eaecef">
<tr><td class="title" colspan="3">Movies</td></tr>
$MOVIES
</table>
<p>&nbsp;</p>
</MOVIES>

<p align="center">
$BANNER
</p>

<p align="center">
[ <a href="http://www.gnump3d.org/">GNUMP3d</a> | 
<a href="http://www.gnump3d.org/FAQ.html" title="View this software's Frequently Asked Questions - with answers!">FAQ</a> 
]
</p>

 
</body>
</html>

