<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml11-transitional.dtd">
<html>
<head>
$META
<title>Your Name MP3's</title>
<style type="text/css">
<!--
a:link, a:active, a:visited {
color: red;
text-decoration: underline}

a:hover {
color: red;
text-decoration: none}

-->
</style>
</head>
<body bgcolor="#000000" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">

<table width="800" border="0" cellpadding="0" cellspacing="0">
 <tr>
  <td colspan="2">
   <table width="800" border="0" cellpadding="0" cellspacing="0">
    <tr>
     <td colspan="2"><img src="/dig_temp2_01.jpg" width="240" height="95"></td>
     <td><img src="/dig_temp2_02.jpg" width="225" height="95"></td>
     <td WIDTH="100%" HEIGHT="95">
      <center>
       <font color="red">
       <form action="/search" method="get">
        <table width="80%" bgcolor="#000000" border="0" cellpadding="2">
         <tr>
          <td align="center">
           <strong>::Your Name MP3's:: <BR></strong>
          </td>
         </tr>
         <tr>
          <td align="center">
           <strong>::Music Search::</strong>
           <input type="text" name="q" />
          </td>
         </tr>
        </table>
       </form>
       </font>
      </center>
     </td>
    </tr>
   </table>
  </td>
 </tr>
 <tr>
  <td align="left" valign="top">
   <table border="0" width="240" cellpadding="0" cellspacing="0">
    <tr>
     <td colspan="2"><img src="/dig_temp2_04.jpg" width="240" height="85"></td>
    </tr>
    <tr>
     <td><img src="/dig_temp2_06.jpg" width="30" height="25"></td>
     <td><a href="/"><img src="/link_1.jpg" width="210" height="25" border="0" alt="Home"></a></td>
    </tr>
    <tr>
     <td><img src="/dig_temp2_08.jpg" width="30" height="30"></td>
     <td><a href="/playlist/"><img src="/link_2.jpg" width="210" height="30" border="0" alt="Playlist"></a></td>
    </tr>
    <tr>
     <td><img src="/dig_temp2_10.jpg" width="30" height="30"></td>
     <td><a href="/prefs/"><img src="/link_3.jpg" width="210" height="30" border="0" alt="Preferences"></a></td>
    </tr>
    <tr>
     <td><img src="/dig_temp2_12.jpg" width="30" height="30"></td>
     <td><a href="/stats/"><img src="/link_4.jpg" width="210" height="30" border="0" alt="Most Popular"></a></td>
    </tr>
    <tr>
     <td><img src="/dig_temp2_14.jpg" width="30" height="25"></td>
     <td><a href="/recent/"><img src="/link_5.jpg" width="210" height="25" border="0" alt="Most Recent"></a></td>
    </tr>
    <tr>
     <td width="10" bgcolor="#000000">&nbsp;</td>
     <td width="230" height="314" colspan="2" bgcolor="#000000" valign="top">
      <!-- Side Panel -->
      <!-- Side Panel -->
     </td>
    </tr>
   </table>
  </td>
  <td align="center" valign="top" bgcolor="#000000">
   <!-- Content -->
    <img src="/hr.gif" width="464" height="11" border="0">
     <blockquote>
      <font face="Arial" size="2" color="red">
       <strong>

<!-- ------------------------------------------------------------------------------------ -->

<table border="0" cellpadding="0" cellspacing="2" width="100%" bgcolor="#ff0000">
<tr><td>
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#eaecef">
<tr bgcolor="#d1d5d7"><td colspan="7"><center><h3>Error</h3></center></td></tr>
<tr><td>
$ERROR_MESSAGE

</td></tr>
<tr><td colspan="7">If you believe you are seeing this in error please consider reporting a bug</td></tr>
</table>
</td></tr>
</table>
<!-- ------------------------------------------------------------------------------------ -->
       </strong>
      </font>
     </blockquote>
    <img src="/hr.gif" width="464" height="11" border="0">
    <center>
     <font color="red">
       Powered By:<br>
      <a href=http://www.gnump3d.org/><img src="/logo7.jpg" width="173" height="38"></a>
     </font>
    </center>
   <!-- Content -->
  </td>
 </tr>
</table>

</body>
</html>

<!-- Link 1: Home -->
<DIV STYLE="position: absolute; top:182px; left:30px; width:200px; height:25px">
<CENTER><font size="2" color="red"><a href="/">Home</a></font></CENTER>
</DIV>
<!-- Link 2: Playlists -->
<DIV STYLE="position: absolute; top:213px; left:50px; width:200px; height:25px">
<CENTER><font size="2" color="red"><a href="/playlist/">Playlists</a></font></CENTER>
</DIV>
<!-- Link 3: Playing Now -->
<DIV STYLE="position: absolute; top:244px; left:60px; width:200px; height:25px">
<CENTER><font size="2" color="red"><a href="/prefs/">Preferences</a></font></CENTER>
</DIV>
<!-- Link 4: Popular Songs -->
<DIV STYLE="position: absolute; top:275px; left:50px; width:200px; height:25px">
<CENTER><font size="2" color="red"><a href="/stats/">Most Popular</a></font></CENTER>
</DIV>
<!-- Link 5: Recent Played -->
<DIV STYLE="position: absolute; top:304px; left:10px; width:200px; height:25px">
<CENTER><font size="2" color="red"><a href="/recent/">Most Recent</a></font></CENTER>
</DIV>

